.navbar-text {
  margin-left: 15px;
}
form.tab-form-demo .tab-pane {
  margin: 20px 20px;
}
.completed {
  text-decoration: line-through;
}
input[type="checkbox"] {
  margin-right: 5px;
}
span.close {
  text-align: center;
}
div.todo-item:first-of-type {
  margin-top: 10px;
}
.tab-header-icon {
  visibility: hidden;
  margin-left: 5px;
}
.header-text {
  border: 0;
  outline: none;
  background-color: transparent;
}
.tab-header:hover .tab-header-icon,
.tab-header.active > a > uib-tab-heading > i.tab-header-icon {
  visibility: visible;
  cursor: pointer;
}
.tab-header > a > uib-tab-heading > input.header-text {
  cursor: pointer;
}
.tab-header.active > a > uib-tab-heading > input.header-text {
  cursor: text;
}
.tab-new-icon {
  color: black;
}
.todo-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.new-item-input {
  min-width: 150px;
  max-width: 100%;
}
.clear-completed {
    text-align: right;
    cursor: pointer;
}
.clear-completed:hover {
    text-decoration: underline;
}