<div ng-controller="MainController" class="container">
    <uib-tabset>
      <uib-tab class="tab-header" ng-repeat="todo in main.todo" active="todo.active">
        <uib-tab-heading>
            <!-- Keycode 13 is enter -->
            <input type="text" class="header-text" ng-model="todo.name" pu-elastic-input ng-readonly="!todo.active" ng-keypress="$event.which === 13 && main.updateTodo(todo)"/><i class="tab-header-icon glyphicon glyphicon-remove" ng-click="main.deleteTodo(todo)"></i>
        </uib-tab-heading>
        <div class="todo-item row" ng-repeat="item in todo.items">
            <label ng-class="{completed: item.completed}" class="col-xs-10 col-sm-11"><input type="checkbox" ng-model="item.completed" ng-change="main.toggleTodoItem(todo,item)">{{item.name}}</label>
            <span class="col-xs-2 col-sm-1 close" ng-click="main.deleteTodoItem(todo,item)">x</span>
        </div>
        <div class="new-item-group row col-xs-10 col-sm-11">
            <input focus-if pu-elastic-input type="text" class="new-item-input form-control" placeholder="Add item..." ng-model="main.newTodoItem" ng-keypress="$event.which === 13 && main.pushTodoItem(todo)"/>
        </div>
      </uib-tab>
      <uib-tab ng-click="main.createTodo('New List')" active='false'>
          <uib-tab-heading>
            <i class="tab-new-icon glyphicon glyphicon-plus"></i>
          </uib-tab-heading>
      </uib-tab>
    </uib-tabset>
</div>
